<!-- Top menu -->
<nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Gioia - Bootstrap Business Template</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a routerLink="/Company" routerLinkActive="active">
              <span aria-hidden="true" class="icon_house"></span>
              <br>Cadastrar Empresa</a>
          </li>
          <li>
            <a routerLink="/AllCompany" routerLinkActive="active">
              <span aria-hidden="true" class="icon_camera"></span>
              <br>Listar Empresas</a>
          </li>
          <!-- <li>
            <a href="#">
              <span aria-hidden="true" class="icon_comment"></span>
              <br>Blog</a>
          </li>
          <li>
            <a href="services.html">
              <span aria-hidden="true" class="icon_tools"></span>
              <br>Services</a>
          </li>
          <li>
            <a href="about.html">
              <span aria-hidden="true" class="icon_profile"></span>
              <br>About</a>
          </li>
          <li>
            <a href="contact.html">
              <span aria-hidden="true" class="icon_mail"></span>
              <br>Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>